body {
  font-family: Arial;
}

.sidebar {
  width: 200px;
  height: 100vh;
  background: #343a40;
  color: white;
}

.sidebar .nav-link {
  color: white;
}

.sidebar .nav-link:hover {
  background: #495057;
}